@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,300;0,400;1,700&family=Inter:wght@400;600;700&family=Montserrat:wght@400;500;700&family=Raleway:wght@400;700&family=Schibsted+Grotesk:wght@400;500;600&display=swap");

$font-family: "Montserrat", sans-serif;

//Font Size
$mainHeadline: 62px;
$mainHeadlineM: 45px;
$secondaryHeadline: 49px;
$thirdHeadline: 40px;
$servicesSize: 34px;
$logoSize: 22px;
$aboutSize: 20px;
$fontPrimary: 18px;
$lightFont: 16px;
$smFont: 14px;

//Line Height
$logoheight: 27px;
$smHeight: 17px;
$smHeight: 22px;
$bgHeight: 49px;
$aboutHeight: 32px;

//Font Weight

$bold: 700;
$medium: 500;
$regular: 400;
